<!DOCTYPE html>
<html>
<head>
  <title>Green Shed Weather</title>

  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

<h1>Current Conditions</h1>

<p>
  <small>As of <%= current_datetime %></small>
</p>

<dl>
  <dt>Temperature</dt>
  <dd><%= temp_f %></dd>
</dl>

<dl>
  <dt>Humidity</dt>
  <dd><%= humidity_pct %></dd>
</dl>

<dl>
  <dt>Dewpoint</dt>
  <dd><%= dewpoint_f %></dd>
</dl>

<dl>
  <dt>Solar Radiation</dt>
  <dd><%= solar_radiation_wm2 %></dd>
</dl>


<p>
  <img class="full-width-graph" src="images/temperature_today.png?v=<%= ts %>" alt="Temperature Today" />
</p>

<p>
  <img class="full-width-graph" src="images/solar_radiation_today.png?v=<%= ts %>" alt="Solar Radiation Today" />
</p>

<hr />

<h2>Other Years on this Day</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Max Temperature (°F)</th>
  </tr>
  <% temp_f = Metric.find(:temp_f) %>
  <% other_years_summaries.each do |year, summary| %>
    <tr>
      <td>
        <%= summary.date %>
      </td>
      <td>
        <%= summary.max_observation(metric: temp_f).value&.round(2) %>
      </td>
    </tr>
  <% end %>
</table>

</body>
</html>